In [1]:
import pandas as pd

# Read order item data from CSV file into DataFrame
order_item_df = pd.read_csv(r'D:\Datamamagemet\python\source\bikestore_dim\landing\order_items\order_items.csv')

# Read product data from CSV file into DataFrame
product_df = pd.read_csv(r'D:\Datamamagemet\python\source\bikestore_dim\staging_1\products\products.csv')

# Display information about the order item DataFrame including the data types and memory usage
order_item_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4764 entries, 0 to 4763
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   order_id      4764 non-null   int64
 1   item_id       4764 non-null   object
 2   product_id    4764 non-null   int64
 3   quantity      4764 non-null   int64
 4   list_price    4764 non-null   float64
 5   discount      4764 non-null   float64
 6   extract_time  4764 non-null   float64
 7   source        4764 non-null   object
dtypes: float64(3), int64(3), object(2)
memory usage: 297.9+ KB

In [3]:
# Identify duplicated rows in the order_item DataFrame
duplicated_rows = order_item_df.duplicated()

# Print the duplicated rows
print(duplicated_rows)

0       False
1       False
2       False
3       False
4       False
        ...
4759    False
4760    False
4761    False
4762    False
4763    False
Length: 4764, dtype: bool

In [4]:
# Check for missing values in the order_item DataFrame and sum the count of missing values for each column
order_item_df.isnull().sum()

order_id        0
item_id         0
product_id      0
quantity        0
list_price      0
discount        0
extract_time    0
source          0
dtype: int64

In [5]:
# Filter non-numeric rows in the 'item_id' column
non_numeric_rows = order_item_df[~order_item_df['item_id'].str.match(r'^\d+$')]

# Display non-numeric rows
non_numeric_rows

# Drop non-numeric rows from the order_item DataFrame
order_item_df.drop(index=non_numeric_rows.index, inplace=True)

# Drop duplicate rows from the order_item DataFrame
order_item_df.drop_duplicates(inplace=True)

# Display the cleaned order_item DataFrame
order_item_df

,order_id,item_id,product_id,quantity,list_price,discount,extract_time,source
0,1,1,20,1,599.99,0.20,1.714410e+09,DB
1,1,2,8,2,1799.99,0.07,1.714410e+09,DB
2,1,3,10,2,1549.00,0.05,1.714410e+09,DB
3,1,4,16,2,599.99,0.05,1.714410e+09,DB
4,1,5,4,1,2899.99,0.20,1.714410e+09,DB
...,...,...,...,...,...,...,...,...
4755,1615,60,182,1,2499.99,0.20,1.714410e+09,DB
4756,1614,14,213,2,269.99,0.20,1.714410e+09,DB
4757,1615,22,197,2,2299.99,0.20,1.714410e+09,DB
4758,1615,17,214,1,899.99,0.07,1.714410e+09,DB
4759,1615,9,182,1,2499.99,0.20,1.714410e+09,DB

In [38]:
# Extract product IDs from the order_item DataFrame
order_item_keys = order_item_df['product_id']

# Extract product IDs from the product DataFrame
product_ids = product_df['product_id']

# Identify missing product keys in the order_item DataFrame
missing_product_keys = ~order_item_keys.isin(product_ids)

# Filter out rows with missing product keys
missing_products_df = order_item_df[missing_product_keys]

# Display the DataFrame containing rows with missing product keys
missing_products_df

Empty DataFrame
Columns: [order_id, item_id, product_id, quantity, list_price, discount, extract_time, source]
Index: []

In [27]:
# Filter rows in the order_item DataFrame based on list price range
order_item_df_new = order_item_df[(order_item_df['list_price'] >= 200) & (order_item_df['list_price'] <= 10000)]

# Print the filtered DataFrame
print(order_item_df_new)

      order_id item_id  product_id  quantity  list_price  discount  \
0            1       1          20         1      599.99      0.20
1            1       2           8         2     1799.99      0.07
2            1       3          10         2     1549.00      0.05
3            1       4          16         2      599.99      0.05
4            1       5           4         1     2899.99      0.20
...        ...     ...         ...       ...         ...       ...
4755      1615      60         182         1     2499.99      0.20
4756      1614      14         213         2      269.99      0.20
4757      1615      22         197         2     2299.99      0.20
4758      1615      17         214         1      899.99      0.07
4759      1615       9         182         1     2499.99      0.20

      extract_time source
0     1.714410e+09     DB
1     1.714410e+09     DB
2     1.714410e+09     DB
3     1.714410e+09     DB
4     1.714410e+09     DB
...            ...    ...
4755  1.714410e+09     DB
4756  1.714410e+09     DB
4757  1.714410e+09     DB
4758  1.714410e+09     DB
4759  1.714410e+09     DB

[4601 rows x 8 columns]

In [39]:
import os

# Define the output directory path for storing the processed order item data
output_dir = r'D:\Datamamagemet\python\source\bikestore_dim\staging_1\order_item'

# Ensure the output directory exists, creating it if it doesn't
os.makedirs(output_dir, exist_ok=True)

# Write the processed order item DataFrame to a CSV file in the output directory
order_item_df.to_csv(os.path.join(output_dir, 'order_item.csv'), index=False)